.login {
    background-image: url("../Assets/HideCrypt.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.section {
    width: 80vh;
    height: 100vh;
    background-color: white;
    float: right;
}

.head {
    margin-left: 8vh;
    margin-top: 15vh;
}

.head h2 {
    color: #423B50;
    font-size: 4.5vh;
    font-weight: 500;
}

.head p {
    color: #6C6777;
}

.head h2 {
    margin-bottom: 8px;
}

.head p {
    margin-top: 0;
}

.inputBox {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-left: 8vh;
}

.emailBox,
.passwordBox {
    width: 63vh;
    height: 7vh;
    border: 1px solid #c9c7cb;
    border-radius: 5px;
}

.emailBox:hover,
.passwordBox:hover {
    border: 1px solid #704b95;
    border-radius: 5px;
}

.emailBox:focus,
.passwordBox:focus {
    border: 2px solid #2563EB;
    border-radius: 5px;
    outline: none;
}

.emailBox::placeholder,
.passwordBox::placeholder {
    color: #a9a8ac;
    font-size: 3vh;
    padding-left: 2.5vh;
}

.checkbox {
    display: flex;
    flex-direction: row;
    gap: 20vh;
    margin-left: 8vh;
    margin-top: 3vh;
}

.remem {
    display: flex;
    flex-direction: row;
    gap: 1vh;
}

.remem label {
    color: rgb(114, 114, 114);
}

.remem input[type="checkbox"] {
    transform: scale(1.5);
    accent-color: #21BE5B;
}

.checkbox a {
    text-decoration: none;
    color: #2563EB;
}

.checkbox a:hover {
    cursor: pointer;
}

.loginBtnDiv {
    margin-left: 8.3vh;
    margin-top: 4vh;
}

.loginBtn {
    width: 64vh;
    height: 7vh;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0px;
    border-radius: 6px;

    color: white;
    background-color: #2563EB;

    text-decoration: none; /* 🔥 removes underline */
}

.loginBtn:hover {
    background-color: #043ebb;
    cursor: pointer;
}

.createAcc {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vh;
    margin-left: 15vh;
}

.createAcc p {
    color: #818182;
}

.createAcc a {
    text-decoration: none;
    cursor: pointer;
    color: #2563EB;
}

.createAcc a:hover {
    color: #043ebb;
}